In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen as uReq
from urllib.request import HTTPError

In [2]:
def read_one_page(url):
    """
    Creates the timetable for one course.
    
    Args:
        url (string): the url for the course.

    Return: 
        a dataframe with the course info.
    """
    
    page_html = uReq(url)
    soup = BeautifulSoup(page_html, 'html.parser')
    tables = soup.find_all("table")
    tabulka = tables[-1]
    
    records = [] # store all of the records in this list
    for soup_row in tabulka.findAll('tr'):
        row = []
        for soup_cell in soup_row.findAll('td'):
            content = soup_cell.text
            row.append(content)
        records.append(row)
        
    return pd.DataFrame(data=records[1:])

In [3]:

def create_full_timetable(year=20):
    """
    If year=20, it returns the full timetable for the academic year 2020/2021. 
    Possible values: [17, 18, 19, 20]
    """

    url_base = 'http://www.lse.ac.uk/school/timetables/lecture_seminar_timetable/lecture_and_seminar_timetable__20' + str(year) + '_' + str(year+1) + '/'

    timetable = pd.DataFrame()
    i = 0
    while True:
        i = i + 1
        url = url_base + str(i) + '.htm'       
        try:
            data = read_one_page(url)
        except HTTPError:
            break        
        timetable = timetable.append(data)

    timetable = timetable.rename(columns={0: 'Code', 1: 'Title', 2: 'Type', 3: 'Group', 4: 'Day',                                          5: 'Room', 6: 'Start', 7: 'Finish', 8: 'MT Wks', 
                                          9: 'LT Wks', 10: 'ST Wks'})

    valid_course_codes = timetable['Code'].apply(lambda x: len(x) > 3)
    return timetable[valid_course_codes]

In [4]:
# it takes ~7 mins
df = create_full_timetable(19)

### Examples of reading the timetable

In [5]:
# display timetable for specific courses

selected_course = ['MA423', 'MA424', 'MA427', 'MA428', 'ST449', 'MA498', 'MA426']
mask0 = df['Code'].isin(selected_course)

selection = df[mask0]
display(selection)

,Code,Title,Type,Group,Day,Room,Start,Finish,MT Wks,LT Wks,ST Wks
0,MA423,MA423 Fundamentals of Operations Research,LEC,1,Tue,NAB.1.04,13:00,15:00,"1,2,3,4,5,7,8,9,10",,
1,MA423,MA423 Fundamentals of Operations Research,LEC,1,Tue,NAB.LG.01,13:00,15:00,6,,
2,MA423,MA423 Fundamentals of Operations Research,LEC,1,Tue,NAB.1.04,13:00,16:00,,,1
3,MA423,MA423 Fundamentals of Operations Research,SEM,1,Wed,32L.G.15,15:00,16:30,"2,3,4,5,6,7,8,9,10,11",,
4,MA423,MA423 Fundamentals of Operations Research,SEM,2,Wed,32L.G.17,12:30,14:00,"2,3,4,5,6,7,8,9,10,11",,
0,MA424,MA424 Modelling in Operations Research,LEC,1,Mon,CBG.1.03,11:00,13:00,"1,2,3,4,5,6,7,8,9,10",,
1,MA424,MA424 Modelling in Operations Research,SEM,1,Thu,STC.S018,09:30,11:00,"2,3,4,5,6,7,8,9,10",,
2,MA424,MA424 Modelling in Operations Research,SEM,2,Fri,FAW.4.03,14:00,15:30,"2,3,4,5,6,7,8,9,10",,
3,MA424,MA424 Modelling in Operations Research,WOR,1,Tue,FAW.4.03,09:00,11:00,"2,3,4,5,6,7,8,9,10",,
4,MA424,MA424 Modelling in Operations Research,WOR,2,Wed,STC.S018,09:00,11:00,"2,3,4,5,6,7,8,9,10",,
0,MA426,MA426 Dissertation in Operations Research & An...,SEM,1,Mon,FAW.2.04,14:00,16:00,11,,
1,MA426,MA426 Dissertation in Operations Research & An...,SEM,1,Thu,CLM.5.02,16:00,18:00,"1,2,4,6,7,8,9,10,11",,
2,MA426,MA426 Dissertation in Operations Research & An...,SEM,1,Thu,NAB.1.04,16:00,18:00,,"1,2,3,5,7,8,9,10,11",
3,MA426,MA426 Dissertation in Operations Research & An...,SEM,1,Thu,STC.S08,17:00,19:00,,"4,6",
4,MA426,MA426 Dissertation in Operations Research & An...,SEM,1,Thu,NAB.1.04,16:00,18:00,,,"1,6,7"
0,MA427,MA427 Mathematical Optimisation,LEC,1,Mon,FAW.2.04,11:00,13:00,,"1,2,3,4,5,6,7,8,9,10",1
1,MA427,MA427 Mathematical Optimisation,SEM,1,Tue,PAN.1.01,09:00,10:30,,"2,3,4,5,6,7,8,9,10,11",
2,MA427,MA427 Mathematical Optimisation,SEM,2,Tue,PAN.1.01,10:30,12:00,,"2,3,4,5,6,7,8,9,10,11",
0,MA428,MA428 Combinatorial Optimisation,LEC,1,Wed,FAW.2.04,13:00,15:00,,"1,2,3,4,5,6,7,8,9,10",
1,MA428,MA428 Combinatorial Optimisation,LEC,1,Wed,NAB.1.15,09:30,11:00,,,1
2,MA428,MA428 Combinatorial Optimisation,LEC,1,Wed,NAB.1.15,14:00,15:30,,,1
3,MA428,MA428 Combinatorial Optimisation,SEM,1,Tue,32L.G.24,12:30,14:00,,"2,3,4,5,6,7,8,9,10,11",
4,MA428,MA428 Combinatorial Optimisation,SEM,2,Tue,CBG.1.10,16:00,17:30,,"2,3,4,5,6,7,8,9,10,11",
0,MA498,MA498 Dissertation in Mathematics,SEM,1,Thu,CLM.5.02,16:00,18:00,"1,2,4,6,7,8,9,10,11",,
1,MA498,MA498 Dissertation in Mathematics,SEM,1,Thu,NAB.1.04,16:00,18:00,,"1,2,3,5,7,8,9,10,11",
2,MA498,MA498 Dissertation in Mathematics,SEM,1,Thu,STC.S08,17:00,19:00,,"4,6",
3,MA498,MA498 Dissertation in Mathematics,SEM,1,Thu,NAB.1.04,16:00,18:00,,,"1,6,7"
0,ST449,ST449 Artificial Intelligence and Deep Learning,LEC,1,Wed,NAB.1.04,11:00,13:00,,"1,2,3,4,5,7,8,9,10,11",
1,ST449,ST449 Artificial Intelligence and Deep Learning,SEM,1,Fri,32L.LG.18,14:30,16:00,,"1,2,3,4,5,7,8,9,10,11",

In [6]:
# display timetable for all 4th year courses

year = 4    # other options are 1, 2 and 3

mask1 = df['Code'].apply(lambda x: x[2]==str(year))
selection = df[mask1]
display(selection)

IndexError: string index out of range

In [18]:
# display timetable for all Philosophy courses

subject = 'PH'   # other options are 'MA', 'ST', 'GV', 'LL' etc.

mask2 = df['Code'].apply(lambda x: x[:2] in [subject])
selection = df[mask2]
display(selection)

,Code,Title,Type,Group,Day,Room,Start,Finish,MT Wks,LT Wks,ST Wks
0,PH101,PH101 Logic,LEC,1,Mon,CLM.G.02,12:00,13:00,"1,2,3,4,5,6,7,8,9,10","1,2,3,4,5,6,7,8,9,10",
1,PH101,PH101 Logic,LEC,1,Mon,OT,09:00,10:00,"2,3,4,9,10",,
2,PH101,PH101 Logic,LEC,1,Fri,CLM.G.02,09:00,10:00,,"1,2,3,4,5",
0,PH103,PH103 The Big Questions: An Introduction to Ph...,LEC,1,Tue,NAB.LG.08,12:00,13:00,"1,2,5,6,9,10","3,5,6,9,10",
1,PH103,PH103 The Big Questions: An Introduction to Ph...,LEC,1,Tue,NAB.LG.08,12:00,13:00,"3,4",,
...,...,...,...,...,...,...,...,...,...,...,...
2,PH502,PH502 Reasoning and Logic,LEC,1,Fri,CLM.G.02,09:00,10:00,,"1,2,3,4,5",
0,PH551,PH551 Research Seminar in the Philosophy of Na...,SEM,1,Mon,LAK.2.06,14:00,15:30,"2,3,4,5,6,7,8,9,10,11","1,2,3,4,5,6,7,8,9,10","1,2,3,4,5,6,7,8"
0,PH555,PH555 Research Seminar in the Philosophy of Ec...,SEM,1,Wed,LAK.2.06,17:00,19:00,"1,2,3,4,5,6,7,8,9,10",,
1,PH555,PH555 Research Seminar in the Philosophy of Ec...,SEM,1,Wed,LAK.2.06,17:00,19:00,,"1,2,3,4,5,6,7,8,9,10",
2,PH555,PH555 Research Seminar in the Philosophy of Ec...,SEM,1,Wed,LAK.2.06,17:00,19:00,,,"1,2,3,4,5,6,7"

In [21]:
# display timetable for all Philosophy 4th year courses

mask2 = df['Code'].apply(lambda x: x[:2] in [subject])
selection = df[mask1 & mask2]
display(selection)

,Code,Title,Type,Group,Day,Room,Start,Finish,MT Wks,LT Wks,ST Wks
0,PH400,PH400 Philosophy of Science,LEC,1,Mon,NAB.1.04,13:00,14:00,"1,2,3,4,5,7,8,9,10",,
1,PH400,PH400 Philosophy of Science,LEC,1,Mon,NAB.LG.03,13:00,14:00,6,6,
2,PH400,PH400 Philosophy of Science,LEC,1,Mon,NAB.LG.01,13:00,14:00,,"1,2,3,4,5,7,8,9,10",
3,PH400,PH400 Philosophy of Science,SEM,1,Tue,PAN.3.02,16:00,17:30,"1,2,3,4,5,6,7,8,9,10","1,2,3,4,5,6,7,8,9,10",
4,PH400,PH400 Philosophy of Science,SEM,1,Tue,PAN.1.04,16:00,17:30,11,,
...,...,...,...,...,...,...,...,...,...,...,...
0,PH458,PH458 Evidence and Policy,LEC,1,Wed,NAB.2.16,14:00,15:00,"1,2,3,4,7,8,9,10,11",,
1,PH458,PH458 Evidence and Policy,LEC,1,Mon,NAB.1.09,09:00,10:00,7,,
2,PH458,PH458 Evidence and Policy,SEM,1,Thu,NAB.1.19,17:00,18:30,"1,2,3,4,6,7,8,9,10,11",,
3,PH458,PH458 Evidence and Policy,SEM,2,Thu,PAN.1.04,15:00,16:30,"1,2,3,4,6,7,8,9,10,11",,
4,PH458,PH458 Evidence and Policy,SEM,3,Thu,PAN.1.04,13:30,15:00,"1,2,3,4,6,7,8,9,10,11",,